body{
    margin: 0;
    height: 100VH;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vh;
}

label{
    color:chocolate;
}

button{
    background-color: bisque;
    color: maroon;
    border-radius: 10px;
    font-size: 5vh;
}