.contact{
    background-image: url('../images/bgimage.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 60px;
}